body.index {
    background: url(wowclassictausta.jpg) no-repeat center fixed;
    background-size: cover;
    }
body.yleist채 {
    background: url(teldrassilflames.jpg) no-repeat center fixed;
    background-size: cover;
    }
body.maailmat {
    background: url(argus.jpg) no-repeat center fixed;
    background-size: cover;
    }   
body.factions {
    background: url(factions.jpg) no-repeat center fixed;
    background-size: cover;
    }
body.cities {
    background: url(races.jpg) no-repeat center fixed;
    background-size: cover;
}
.wowilogo {
    padding-top: 80px;
    text-align: center;
    }
h1 {
    text-align: center;
    padding: 8px;
    text-shadow: chocolate 0 0 8px;
    color: lightsalmon;
}
.teksti1 {
    background-color: antiquewhite;
    border: 3px;
    border-style: solid;
    margin-bottom: 5%;
    background-image: url(questteksti2.jpg);
    background-size: cover;
}
.multi-item-example {
    max-height: 500px;
}
.card-body {
    background-image: url(questteksti2.jpg);
    background-size: cover;
    min-height: 250px;
}
.btn-primary {
    text-align: center;
}
.card-text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}
.card-title {
    text-align: center;
}
.carousel-indicators {
    margin: px;
}
.leipa {
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    padding: 4px;
}
.col-md-8 {
    padding-bottom: 5%;
}
.carousel-inner > .item > img {
    width:640px;
    height:360px;
  }
  .navbar-nav .nav-item .nav-link {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color:dodgerblue;
    transition-duration: 1s;
}
.navbar {
    background-image: url(questteksti2.jpg);
    background-size: cover;
}
.navbar-toggler .navbar-toggler-collapsed{
    color: red;
}
.nav-link {
    margin: 3px;
    border: 3px;
    border-style: solid;
    text-align: center;
    font-size: 16px;
    padding: 4px;
}
.nav-etusivu {
    margin: 3px;
    border: 3px;
    border-style: solid;
    font-size: 16px;
    padding: 4px;
    float: left;
}
.jumbotron-etusivu {
    background-image: url(jumbotron/orgrimmarart.jpg);
    background-size: cover;
    color: blanchedalmond;
}
.jumbotron-index {
    background-image: url(jumbotron/orgrimmarart.jpg);
    background-size: cover;
    color: blanchedalmond;
}
.jumbotron-yleist채 {
    background-image: url(jumbotron/wowonyxialeve채.jpg);
    background-size: cover;
    color: blanchedalmond;
}
.jumbotron-maailmat {
    background-image: url(jumbotron/maailmat.jpeg);
    background-size: cover;
    color: blanchedalmond;
}
.jumbotron-factions {
    background-image: url(jumbotron/alliancehorde.jpg);
    background-size: cover;
    color: blanchedalmond;
}
.jumbotron-cities {
    background-image: url(jumbotron/wowfactionsleve채.jpg);
    background-size: cover;
    color: blanchedalmond;
}
.jumbotron-linkyksi {
    background-image: url(questteksti2.jpg);
    background-size: cover;
    padding: 20px;
}
footer {
    padding-top: 100px;
}
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
.display-3 {
    padding: px;
}
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
