body.index {
    background: url(wowclassictausta.jpg) no-repeat center fixed;
    background-size: cover;
    }
body.yleistä {
    background: url(teldrassilflames.jpg) no-repeat center fixed;
    background-size: cover;
    }
body.maailmat {
    background: url(argus.jpg) no-repeat center fixed;
    background-size: cover;
    }   
body.factions {
    background: url(factions.jpg) no-repeat center fixed;
    background-size: cover;
    }
body.cities {
    background: url(races.jpg) no-repeat center fixed;
    background-size: cover;
}
.wowilogo {
    padding-top: 80px;
    text-align: center;
    }
h1 {
    text-align: center;
    padding: 8px;
    text-shadow: chocolate 0 0 8px;
    color: lightsalmon;
}
.teksti1 {
    background-color: antiquewhite;
    border: 3px;
    border-style: solid;
    margin-bottom: 5%;
    background-image: url(questteksti2.jpg);
    background-size: cover;
}
.leipa {
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    padding: 4px;
}
.col-md-8 {
    padding-bottom: 5%;
}
.carousel-inner > .item > img {
    width:640px;
    height:360px;
  }
  .navbar-nav .nav-item .nav-link {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color:dodgerblue;
    transition-duration: 1s;
}
.navbar {
    background-image: url(questteksti2.jpg);
    background-size: cover;
}
.navbar-toggler .navbar-toggler-collapsed{
    color: red;
}
.nav-link {
    margin: 3px;
    border: 3px;
    border-style: solid;
    text-align: center;
    font-size: 16px;
    padding: 4px;
}
.nav-etusivu {
    margin: 3px;
    border: 3px;
    border-style: solid;
    font-size: 16px;
    padding: 4px;
    float: left;
}
.jumbotron-etusivu {
    background-image: url(jumbotron/orgrimmarart.jpg);
    background-size: cover;
    color: blanchedalmond;
}
.jumbotron-index {
    background-image: url(jumbotron/wowonyxialeveä.jpg);
    background-size: cover;
    color: blanchedalmond;
}
.jumbotron-maailmat {
    background-image: url(jumbotron/maailmat.jpeg);
    background-size: cover;
    color: blanchedalmond;
}
.jumbotron-factions {
    background-image: url(jumbotron/alliancehorde.jpg);
    background-size: cover;
    color: blanchedalmond;
}
footer {
    padding-top: 100px;
}
